<%- include('partials/header') -%>

<main>
    <div class="text-center mtop-3">
        <h1 class=""><a class="no-line"href="/profile">ProgressPulse</a></h1>
        <div>
            <img class="w-5" src="imgs/physiotherapy.png" alt="">
        </div>
        <span class="white">Track your recovery. Empower your progress. Your rehab, in rhythm.</span>
    </div>
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary red-bg"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary red-bg"> Signup</a>
    </div>
    <div class="faded-green-bg mid-section">
        <div class="flex-3">
            <section class="card">
                <h2 class="text-center">Title 1</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, fuga. Laboriosam, aut neque dolor accusamus dicta consectetur deserunt aspernatur omnis.</p>
            </section>
            <section class="card">
                <h2 class="text-center">Title 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum impedit labore porro debitis, provident fugiat dignissimos hic fuga quo aperiam.</p>
            </section>
            <section class="card">
                <h2 class="text-center">Title 3</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla aspernatur dolore reprehenderit porro repellendus molestiae deleniti tempora eligendi possimus expedita.</p>
            </section>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>