<%- include('partials/header') -%>

<main>
    <div class="text-center mtop-3">
        <h1 class=""><a class="no-line"href="/profile">ProgressPulse</a></h1>
        <div>
            <img class="w-5" src="imgs/physiotherapy.png" alt="">
        </div>
        <span>Track your recovery. Empower your progress. Your rehab, in rhythm.</span>
    </div>
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 button button-2 text-center"> Login</a>
        <a href="/signup" class="col-3 button button-2 text-center"> Signup</a>
    </div>
    <div class="faded-tan-bg mid-section">
        <div class="flex-3">
            <section class="card">
                <h2 class="text-center">Track your recovery.</h2>
                <p>With ProgressPulse, every movement counts. Log exercises, monitor improvements, and visualize your rehabilitation journey in real time. Whether you're recovering from surgery or managing chronic pain, ProgressPulse keeps your progress organized and accessible so you and your therapist can make data-driven decisions.</p>
            </section>
            <section class="card">
                <h2 class="text-center">Empower your progress.</h2>
                <p>Rehab isn't just about routines — it's about regaining control. ProgressPulse puts the power back in your hands by helping you stay accountable, motivated, and informed. Set personalized goals, get feedback from your therapist, and take confident steps toward long-term recovery.</p>
            </section>
            <section class="card">
                <h2 class="text-center">Your rehab, in rhythm.</h2>
                <p>Stay consistent and connected with a platform that aligns with your recovery flow. ProgressPulse helps you build momentum with reminders, structured plans, and seamless communication with your care provider. Rehab becomes less of a chore and more of a rhythm you can stick with.</p>
            </section>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>