<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-center">
    <section class="mt-5 center-form">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST" class="form mbottom-2 w-30">
        <p class="form-title-2">Sign in to your account</p>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            placeholder="Enter email address"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <button type="submit" class=" button button-5 submit">Sign in</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
