* {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

a {
    color: #fff;
}

body {
    background-color: #a8dadc;
}

table, th, td {
    border: 1px solid black;
}

.blue-bg {
    background-color: #457b9d;
}

.card {
    background: white;
    border-left: 5px solid #e63946;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 300px;
    border-radius: 8px;
}

.card h2 {
    color: #457b9d;
}

.card p {
    color: #1d3557;
}

.center-form {
    display: flex;
    justify-content: center;
}

.dark-blue-bg {
    background-color: #1d3557;
}

.faded-green-bg {
    background-color: #f1faee;
}

.footer-bg {
    background-color: #1d3557;
}

.flex-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff
}

.flex-2 {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 25%;
}

.flex-3 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.flex-4 {
    display: flex;
    justify-content: center;
}

.footer {
    color: #fff;
}

.form, .program-select {
    background-color: #fff;
    padding: 1rem;
    min-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.hidden {
    display: none;
}

.mid-section {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-section {
    width: 90%;
}

.nav-title {
    font-size: 2rem;
}

.nav-title-link {
    text-decoration: none;
}

.nav-list-title {
    font-size: 2rem;
}

.no-bullet {
    list-style-type: none;
}

.light-blue-bg {
    background-color: #a8dadc;
}

.mright-2 {
    margin-right: 2rem;
}

.mtop-3 {
    margin-top: 3rem;
}

.no-line {
    text-decoration: none;
}

.red-bg {
    background-color: #e63946;
}

.submit {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
}

.text-center {
    text-align: center;
}

.w-5 {
    width: 5%;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.white {
    color: #fff;
}

#addExerciseBtn {
    background-color: #e63946;
}

#addExerciseBtn:hover {
    background-color: #0d62fd;
}